<template>
  <div>
    <h1 class="subheading grey--text">DashBoard</h1>
    <v-container class="my-5 grey lighten-4">
      <v-row class="mb-3">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              small
              text
              color="grey"
              @click="sortBy('title')"
              v-bind="attrs"
              v-on="on"
            >
              <span small class="material-icons">
                folder
              </span>
              <span class="ms-2 caption text-lowercase"> By project name</span>
            </v-btn>
          </template>
          <span> Sort projects by project name</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              small
              text
              color="grey"
              @click="sortBy('person')"
              v-bind="attrs"
              v-on="on"
            >
              <span small class="material-icons">
                person
              </span>
              <span class="ms-2 caption text-lowercase"> By person</span>
            </v-btn>
          </template>
          <span> Sort by person</span>
        </v-tooltip>
      </v-row>
      <v-card
        flat
        class="pa-3 grey lighten-4"
        v-for="project in projects"
        :key="project.title"
      >
        <v-row row wrap :class="`pa-3 project ${project.status}`">
          <v-col cols="12" xs="12" sm="12" md="6">
            <div class="caption grey--text">Project title</div>
            <div>{{ project.title }}</div>
          </v-col>
          <v-col cols="12" xs="6" md="2" sm="4">
            <div class="caption grey--text">Person</div>
            <div>{{ project.person }}</div>
          </v-col>
          <v-col cols="12" xs="6" md="2" sm="4">
            <div class="caption grey--text">Due by</div>
            <div>{{ project.due }}</div>
          </v-col>
          <v-col cols="12" xs="6" md="2" sm="4">
            <div id="chip-container">
              <v-chip
                small
                :color="`${project.status}`"
                :class="`v-chip--active white--text caption my-2`"
              >
                {{ project.status }}
              </v-chip>
            </div>
          </v-col>
        </v-row>
        <v-divider></v-divider>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  methods: {
    sortBy(prop) {
      this.projects.sort((a, b) => (a[prop] < b[prop] ? -1 : 1));
    },
  },
  computed: {
    ...mapState(["projects"]),
  },
  created() {
    this.$store.dispatch("loadDataProjects");
  },
};
</script>

<style>
.project.complete {
  border-left: 4px solid #3cd1c2;
}
.project.ongoing {
  border-left: 4px solid orange;
}
.project.overdue {
  border-left: 4px solid tomato;
}
.v-chip.complete {
  background: #3cd1c2;
}
.v-chip.ongoing {
  background: orange;
}
.v-chip.overdue {
  background: tomato;
}
</style>
