<template>
  <div id="project">
    <h1 class="subheading grey--text">Projects page</h1>
    <v-container class="my-5">
      <v-expansion-panels>
        <v-expansion-panel v-for="project in myProjects" :key="project.title">
          <v-expansion-panel-header>
            {{ project.title }}
          </v-expansion-panel-header>
          <v-expansion-panel-content class="px-4 grey--text">
            <div class="font-weight-bold">due by {{ project.due }}</div>
            <div>{{ project.content }}</div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      projects: [
        {
          title: "Design a new website",
          person: "The Net Ninjia",
          due: "1st Jan 2019",
          status: "ongoing",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus ullam nobis earum repellendus quo sit voluptas, quam asperiores a, corrupti quae, quibusdam inventore dolores et obcaecati laborum quod voluptate!",
        },
        {
          title: "Code up the home",
          person: "Chun Lin ",
          due: "10st Jan 2019",
          status: "complete",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus ullam nobis earum repellendus quo sit voluptas, quam asperiores a, corrupti quae, quibusdam inventore dolores et obcaecati laborum quod voluptate!",
        },
        {
          title: "Design video thumnail",
          person: "The Net Ninjia",
          due: "1st Feb 2019",
          status: "complete",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus ullam nobis earum repellendus quo sit voluptas, quam asperiores a, corrupti quae, quibusdam inventore dolores et obcaecati laborum quod voluptate!",
        },
        {
          title: "Create a community forum",
          person: "Marc",
          due: "1st Oct 2020",
          status: "overdue",
          content:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus ullam nobis earum repellendus quo sit voluptas, quam asperiores a, corrupti quae, quibusdam inventore dolores et obcaecati laborum quod voluptate!",
        },
      ],
    };
  },
  computed: {
    myProjects() {
      return this.projects.filter((project) => {
        return project.person == "The Net Ninjia";
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
