<template>
  <v-app class="grey lighten-3">
    <NavBar />
    <v-main class="mx-5 mt-5">
      <router-view />
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import Footer from "./components/Footer.vue";
export default {
  name: "App",

  components: {
    NavBar,
    Footer,
  },
};
</script>
