<template>
  <div id="navBar">
    <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
      <span> Awesome! You added a new project.</span>
      <v-btn text color="white--text" @click="snackbar = false"> Close </v-btn>
    </v-snackbar>
    <v-app-bar flat app class="grey lighten-2 pl-5">
      <v-app-bar-nav-icon
        class="grey"
        @click="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span>TODO</span>
        <span class="font-weight-bold">Ninjia</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="indigo lighten-3 white--text" v-bind="attrs" v-on="on">
            <span class="material-icons">
              expand_more
            </span>
            <span>Menu</span>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="link in links"
            :key="link.icon"
            router
            :to="link.route"
          >
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn color="white--text" class="indigo lighten-3 white--text ml-4">
        <span>Sign Out</span>
        <span class="material-icons">
          exit_to_app
        </span>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer text v-model="drawer" app class="indigo lighten-3">
      <v-row>
        <v-col class="mt-5 text-center ">
          <v-avatar size="100">
            <img src="../assets/imgAvatar/avatar1.jpg" />
          </v-avatar>
          <p class="white--text subheading mt-3">The Net Ninjia</p>
        </v-col>
      </v-row>
      <v-row class="mb-1">
        <v-col class="text-center ">
          <popup @addProject="snackbar = true" />
        </v-col>
      </v-row>
      <v-list>
        <v-list-item
          v-for="link in links"
          :key="link.icon"
          router
          :to="link.route"
        >
          <v-list-item-icon>
            <span class="material-icons">
              {{ link.icon }}
            </span>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="white--text">
              {{ link.text }}</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import popup from "./popup.vue";
export default {
  components: {
    popup,
  },
  data() {
    return {
      drawer: true,
      links: [
        { icon: "dashboard", text: "DashBoard", route: "/" },
        { icon: "folder", text: "My Projects", route: "/projects" },
        { icon: "person", text: "Team", route: "/team" },
      ],
      snackbar: false,
    };
  },
};
</script>

<style lang="scss" scoped></style>
