<template>
  <div id="dialogs">
    <v-dialog v-model="dialog" max-width="600">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="red lighten-2" dark v-bind="attrs" v-on="on">
          Add new project
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2">
          Add a new Project
        </v-card-title>

        <v-card-text>
          <v-form class="px-3">
            <v-text-field
              label="Title"
              v-model="title"
              prepend-icon="folder"
            ></v-text-field>
            <v-textarea
              label="Information"
              v-model="content"
              prepend-icon="edit"
            ></v-textarea>

            <v-row>
              <v-menu offset-y min-width="290px">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    class="mx-3"
                    :rules="requiredRules"
                    :value="formattedDate"
                    label="Due date"
                    prepend-icon="date_range"
                    outlined
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="due"
                  max="2021-12-31"
                  min="2019-01-01"
                ></v-date-picker>
              </v-menu>
            </v-row>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="white" class="primary ml-7" @click="submit">
            Add project
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "popup",
  data() {
    return {
      title: "",
      content: "",
      due: null,
      requiredRules: [(v) => !!v || "This field is required"],
      dialog: false,
    };
  },
  methods: {
    submit() {
      const project = {
        title: this.title,
        content: this.content,
        due: this.due ? new Date(this.due).toUTCString().substring(0, 16) : "",
        person: "The Net Nijia",
        status: "ongoing",
      };

      this.$store.dispatch("addProject", project);
      this.title = "";
      this.content = "";
      this.due = null;
      this.dialog = false;
      this.$emit("addProject");
    },
  },
  computed: {
    formattedDate() {
      return this.due ? new Date(this.due).toUTCString().substring(0, 16) : "";
    },
  },
};
</script>

<style lang="scss" scoped></style>
